# MongoDB Connection URI
# Local: mongodb://localhost:27017/safestride
# Cloud: mongodb+srv://<user>:<pass>@cluster.mongodb.net/safestride
MONGO_URI=mongodb://localhost:27017/safestride

# Backend Server Port
PORT=8000
